    <ItemGroup>
        <PackageReference Include="BouncyCastle.Cryptography" Version="2.6.2" />
    </ItemGroup>

    <ItemGroup>
        <None Include="./README.md" Pack="true" PackagePath="/" />
        <None Include="../../LICENSE" Pack="true" PackagePath="/" />
        <None Include="../../res/logo.png" Pack="true" PackagePath="/" />
    </ItemGroup>

    <ItemGroup>
        <Reference Include="System.Web" />
    </ItemGroup>
