{{#vendorExtensions.x-dotnet-use-request-object}}{{#lambda.joinWithComma}}{{#lambda.pascalcase}}{{operationId}}{{/lambda.pascalcase}}Request request  System.Threading.CancellationToken cancellationToken = default{{/lambda.joinWithComma}}{{/vendorExtensions.x-dotnet-use-request-object}}{{^vendorExtensions.x-dotnet-use-request-object}}{{#lambda.joinWithComma}}{{#allParams}}{{#required}}{{{dataType}}}{{>NullConditionalParameter}}{{/required}}{{^required}}Option<{{{dataType}}}{{>NullConditionalParameter}}>{{/required}} {{paramName}}{{#notRequiredOrIsNullable}} = default{{/notRequiredOrIsNullable}}  {{/allParams}}System.Threading.CancellationToken cancellationToken = default{{/lambda.joinWithComma}}{{/vendorExtensions.x-dotnet-use-request-object}}