# {{packageName}} - the C#/Dotnet library for the Fingerprint Server API

{{packageDescription}}

## Getting started

Please follow the installation guide that you can find in our [repository](https://{{{gitHost}}}/{{{gitUserId}}}/{{{gitRepoId}}}/)