# Hint: run `docker build --tag fingerprint-server-dotnet-sdk:latest ./` to prepare image required for these service
services:
  # Generic service for running arbitrary dotnet commands
  # Example usage: `docker compose run --rm dotnet "dotnet list package"`
  dotnet:
    image: fingerprint-server-dotnet-sdk:latest
    env_file: &env
      - .env
    volumes: &volumes
      - ./src:/src
      - ./fingerprint-server-dotnet-sdk.sln:/fingerprint-server-dotnet-sdk.sln

  # Service for running example project.
  # To run, use: `docker compose run --rm example`
  example:
    image: fingerprint-server-dotnet-sdk:latest
    command: ["dotnet", "run", "--project", "src/Fingerprint.ServerSdk.Examples"]
    env_file: *env
    volumes: *volumes

  # Service for running tests.
  # To run, use: `docker compose run --rm test`
  test:
    image: fingerprint-server-dotnet-sdk:latest
    command: ["dotnet", "test"]
    env_file: *env
    volumes: *volumes