name: 'Release'
on:
  push:
    branches:
      - test
      - main
      - api-v3

jobs:
  release:
    name: 'Release project'
    uses: fingerprintjs/dx-team-toolkit/.github/workflows/release-sdk-changesets.yml@v1
    with:
      appId: ${{ vars.APP_ID }}
      runnerAppId: ${{ vars.RUNNER_APP_ID }}
      version-command: bash ./changeset-version.sh
      publish-command: bash ./changeset-publish.sh
      language: dotnet
      language-version: '8.x'
      prepare-command: |
        dotnet --version && dotnet restore && dotnet list package
        dotnet build --configuration Release --no-restore
    secrets:
      APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
      RUNNER_APP_PRIVATE_KEY: ${{ secrets.RUNNER_APP_PRIVATE_KEY }}
