name: Tests

on:
  pull_request:
    branches:
      - '*'
  workflow_dispatch:
  schedule:
    - cron: '0 5 * * *'

jobs:
  set_datadog_team:
    name: 'Set Datadog team'
    uses: fingerprintjs/dx-team-toolkit/.github/workflows/set-datadog-team.yml@v1
    secrets:
      DD_API_KEY: ${{ secrets.INTEGRATIONS_DATADOG_API_KEY }}

  tests:
    name: Unit and functional tests on ${{ matrix.os }} (dotnet ${{ matrix.dotnet-version }})
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        dotnet-version: [ 8.x, 9.x, 10.x ]
        os: [ ubuntu-latest, windows-latest, macos-latest ]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - run: dotnet --version && dotnet restore && dotnet list package

      - name: Set up Docker
        uses: docker/setup-docker-action@v4

      - run: bash ./generate.sh

      - name: Build
        run: dotnet build

      - name: Run tests
        run: dotnet test
        env:
          SECRET_API_KEY: ${{ secrets.API_KEY }}
